

<form [formGroup]="converterForm" (ngSubmit)="onSubmit()">
    <div class="fields-container">
        <header class="header"><img class="logo" src="../assets/logo.png"><span>Braille Translator</span></header>

        <div class="form-field">
            <div style="width:100%">
                <div [ngClass]="{'selectedTab': selectedTab === 'translator'}" (click)="changeTab('translator')" style=" display:inline-block;
                text-align: center;
                width: 50%;
                font-family: monospace;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;">
                    <p>Translator</p>
                </div>
                <div [ngClass]="{'selectedTab': selectedTab === 'rules'}" (click)="changeTab('rules')" style="display:inline-block;
                text-align: center;
                width: 50%;
                font-family: monospace;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;">
                    <p>Rules</p>
                </div>
            </div>
        </div>
        <div 
            style=" display:flex; flex-direction: row; justify-content: space-between ">
            <mat-form-field class="form-field" style="width: 45%">
                <mat-label>Select a Grade</mat-label>
                <mat-select formControlName='grade'>
                    <mat-option *ngFor="let grade of grades" [value]="grade">
                        {{grade}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field" style="width: 45%">
                <mat-label>Please select a Standard</mat-label>
                <mat-select formControlName='standard'>
                    <mat-option *ngFor="let standard of standards" [value]="standard">
                        {{standard}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <mat-form-field class="form-field" *ngIf="selectedTab === 'translator'">
            <textarea formControlName='input' matInput placeholder="Enter text to  translate" [rows]="5"></textarea>
        </mat-form-field>
        <div class="form-field" style="text-align: right" *ngIf="selectedTab === 'translator'">
            <button class="buttons" mat-flat-button color="primary" type="submit">Translate</button>
            <button class="buttons" mat-button type="button" (click)="onClear()">Clear</button>
        </div>
        <mat-card *ngIf="selectedTab === 'translator'">
            <mat-card-header>
                <mat-card-title>Translated Braille Text:</mat-card-title>
            </mat-card-header>
            <mat-card-content class="output">
                <p>
                    {{output}}
                </p>
            </mat-card-content>
        </mat-card>
        <div class="form-field" style="text-align: right" *ngIf="selectedTab === 'rules'">
            <button class="buttons" mat-flat-button color="primary" type="button" (click)="getRules()"> Get
                Rules</button>
        </div>

        <div class="form-field" *ngIf="rules.length && selectedTab === 'rules'">
            <mat-form-field class="form-field" style="width: 50%" *ngIf="converterForm.controls['grade'].value !== 'Grade 1'">
                <mat-label>Filter with rule type</mat-label>
                <mat-select formControlName='filter'>
                    <mat-option *ngFor="let filter of filters" [value]="filter">
                        {{filter}} </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card>
                <mat-card-header>
                    <mat-card-title style="font-weight: bold">Rules:</mat-card-title>
                </mat-card-header>
                <mat-card-content style="display: flex; justify-content: center">
                    <table>
                        <thead>
                            <th>Key</th>
                            <th>Value</th>
                            <th>Rule Type</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rule of rules | ruleTypeFilter : converterForm.controls['filter'].value">
                                <td>{{rule.key}}</td>
                                <td>{{rule.value}}</td>
                                <td>{{rule.ruleType || 'NA'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>